.available {
    padding: 0.5em 1em;
    margin-left: 5%;
    margin-right: auto;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
    width: 6rem;
    text-align: center;
}

.unavailable {
    padding: 0.5em 1em;
    /* margin: 0.3rem 0.6rem 0.6rem 7.8rem; */
    margin-right: 5%;
    margin-left: auto;
    font-weight: bold;
    color: #ff7d6e;
    background: #FFF;
    border: solid 3px #ff7d6e;
    border-radius: 10px;
    width: 7rem;
    text-align: center;
}

.card-body-mod {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.6rem 0.6rem 0.3rem 0.6rem;
}

.card-title-mod {
    margin-bottom: 0rem;
}

.card-img-size {
    max-width: 30vw;
    margin: auto;
}