{% extends "books/base.html" %}

{% block title %}書籍の詳細{% endblock title %}

{% block content %}
{% load filter %}
    <div class="page-header">
        <h1 style="padding: 60px;">{{ resource | to_class_name }}詳細</h1>
    </div>

    <div class="col-sm-6 mx-auto">
        <div class="card">
            <img class="card-img-top card-img-size" src={{ resource.image.url }} alt="resource Image">
            <div class="card-body-mod">
                <h5 class="card-title-mod">{{ resource.name }}</h5>
                <p>{{ resource.description }}</p>
                <p>貸し出し日: {{ resource.checkout_date }}</p>
                <p>返却予定日: {{ resource.return_date }}
                </p>
                {% if resource.checkout_date == None %}
                    <p class="available">貸出可</p>
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#demoNormalModal">
                        借りる
                    </button>
                {% else %}
                    <p class="unavailable">貸出不可</p>
                    <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#demoNormalModal" disabled>
                        借りる
                    </button>
                {% endif %}

                <!-- モーダルダイアログ -->
                <div class="modal fade" id="demoNormalModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="demoModalTitle">{{ resource.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            {% load widget_tweaks %}
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <label for="checkout_date" class="col-form-label">貸し出し日: </label>
                                    {% render_field form.checkout_date type="date" id="checkout_date" class="form-control" autofocus="" %}
                                    <label for="return_date" class="col-form-label">返却予定日: </label>
                                    {% render_field form.return_date type="date" id="return_date" class="form-control"%}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                                    <button type="submit" class="btn btn-primary">借りる</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
          
{% endblock content %}