{% extends "books/base.html" %}

{% block title %}書籍の詳細{% endblock title %}

{% block content %}

    <div class="page-header">
        <h1 style="padding: 60px;">書籍詳細</h1>
    </div>

    <div class="col-sm-6 mx-auto">
        <div class="card">
            <img class="card-img-top card-img-size" src={{ resource.image.url }} alt="resource Image">
            <div class="card-body-mod">
                <h5 class="card-title-mod">{{ resource.name }}</h5>
                <p>{{ resource.description }}</p>
                <p>貸し出し日: {{ resource.checkout_date }}</p>
                <p>返却予定日: {{ resource.return_date }}
                </p>
                {% if resource.checkout_date == None %}
                    <p class="available">貸出可</p>
                {% else %}
                    <p class="unavailable">貸出不可</p>
                {% endif %}
            </div>
        </div>
    </div>
          
{% endblock content %}