{% extends "books/base.html" %}

{% block title %}書籍の一覧{% endblock title %}

{% block content %}

    <div class="page-header">
        <h1 style="padding: 60px;">利用可能な書籍の一覧</h1>
    </div>
    <!-- <table class="table table-striped table-bordered">
        <thead>
            <tr>
            <th scope="col">イメージ</th>
            <th scope="col">書籍名</th>
            <th scope="col">貸し出し日</th>
            <th scope="col">返却予定日</th>
            <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr onclick="window.location='#';">
            <th scope="row"><img src={{ book.image.url }} alt="book image" height="200px"></th>
            <td>{{ book.name }}</td>
            <td>{{ book.checkout_date }}</td>
            <td>{{ book.return_date }}</td>
            <td>
                <a href="#" class="btn btn-outline-primary btn-sm">貸出</a>
                <a href="#" class="btn btn-outline-danger btn-sm">返却</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    {% for book in books %}
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src={{ book.image.url }} alt="Book Image">
            <div class="card-body-mod">
                <h6 class="card-title-mod">{{ book.name }}</h5>
            </div>
            {% if book.checkout_date == None %}
                <p class="available">貸出可</p>
            {% else %}
                <p class="unavailable">貸出不可</p>
            {% endif %}
        </div>
    {% endfor %}
          
{% endblock content %}